<!DOCTYPE html>
<html>
	<head>
		<%- include ../head.ejs %>
		<%- include ../script.ejs %>
		<style type="text/css">
			.sample_content .dl-horizontal{
				margin: 0px;
			}
			.sample_content .dl-horizontal dt{
				width: 90px;
			}
			.sample_content .dl-horizontal dd {
				margin-left: 100px;
			}
		</style>
	</head>
	<body>
		<h3>Get groups -- /api/v1/members/groups</h3>
		<div class='sample_json'>
			<pre></pre>
		</div>
		<div class='sample_content'>
			
		</div>
	</body>
</html>