<!DOCTYPE html>
<html>
	<head>
		<%- include head.ejs %>
		<%- include script.ejs %>
	</head>
	<body style="line-height:28px;">
		<h2>Test Jam OAuth API in sandbox</h2>
		<blockquote>
		<p>You can use these 2 test account/password:</p>
		<small>admin@sap.com / robus</small>
		<small>pfteam@sap.com / 123456</small>
		</blockquote>
		<a href='/apiList' target='_blank'>Go to the API list</a>
	</body>
</html>